.editor-container{
    max-height: 100%;
    display: grid;
}
.editor-container > *{
    grid-row: 1;
    grid-column: 1;
}
.center-cross{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
    user-select: none;
    pointer-events: none;
    font-family: 'Open Sans';
    font-weight: 300;
    color: #888;
    font-size: 3em;
    mix-blend-mode:difference;
}
.layout-editor-buttons-container{
    display: flex;
    flex-direction: column;
    justify-content: center;

    --pad: 10px;
    position: relative;
    left: var(--pad);
    top: var(--pad);
    height: calc(100% - 2 * var(--pad));
    width: max-content;
    background-color: white;
    border:1px solid;
    user-select: none;
}
.layout-editor-buttons-container > button{
    background-color: white;
    border:none;
    border-radius:5px;
}