.backdrop{
    --opacity: 25%;
    background-color: rgba(0,0,0,var(--opacity));
    position: fixed;
}
.container,.big-container{
    --bg: white;
    padding: 5px;
    border-radius: 12px;
    border: 1px solid;
    background-color: var(--bg);
}
.big-container{
    padding: 15px;
    width: max(500px,50vw);
}
.overlay{
    --margin: 15px;
    position: fixed;
}
.overlay.center{
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.full-size{
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}
.bottom{
    bottom: var(--margin);
}
.right{
    right: var(--margin);
}
.hoverable{
    --darken: 10%;
    background-color: var(--bg);
    transition: background-color .3s ease;
}
.content-centered{
    display: flex;
    flex-direction: column;
    place-content: center;
    text-align: center;
}
.hoverable:hover{
    background-color: color-mix(in hsl shorter hue, var(--bg) calc(100% - var(--darken)), black var(--darken));
}
.print{
    background-image: url("/settings-icon.svg");
    background-position: center;
    background-repeat: no-repeat;

    width: 50px;
    height: 50px;
}
.scrollable{
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
}
.y-scrollable{
    height: 100%;
    max-height: 100%;
    overflow-y: auto;
}
.x-scrollable{
    max-width: 100%;
    overflow-x: auto;
}


.settings-page{
    padding: 25px;
    width: 50vw;
    height: 75vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    max-height: 75vh;
    user-select: none;
}

.printer-list{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.printer-list > .printer-option{
    width: 100%;
}
.printer-option{
    display: grid;
    grid-template-columns: max-content 1fr 1fr;
    place-items: center;

    padding: 8px;
    border:1px solid;
    border-radius: 8px;
    transition: background-color .3s ease;
}
.printer-option div:first-child{
    font-weight: bold;
    font-size: 1.5em;
}
.printer-option div:has(button){
    width: 100%;
    padding: 10px;
}
.printer-option button{
    padding: 8px;
    border: 1px solid;
    border-radius: 8px;
    background-color: white;
    width: 100%;
    font-size: 1.25em;
}
.printer-option button:hover{
    background-color: #eee;
}