.fullscreen-prompt{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    padding: 15px;
}
.mobile-app-back-button{
    position:fixed;
    left:25px;
    bottom:25px;
    border-radius:25px;
    box-shadow:4px 4px 16px 0 rgba(0, 0, 0, .5);
    width:75px;
    height:75px;
    border:1px solid;
    font-size:1.5em;
}