.fullscreen-prompt{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    border: 1px solid black;
    border-radius: 12px;
    background-color: white;
    padding: 15px;
}