.waiter-x-selector{
    height: 100%;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 1fr));
    align-content: center;

    --gap:15px;
    gap:var(--gap);
}
.waiter-order-option-button{
    aspect-ratio: 1;

    background-color: #ddd;
    border-radius: 12px;
    border:1px solid;

    font-size: 1.5em;
    width: 100%;
    min-height: 0;
    max-height: 100%;
    overflow: hidden;
}
.waiter-order-option-button.on{
    background-color: hsl(145, 50%, 50%);
}
.waiter-table-options{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:15px;
    padding: 15px;
    max-width: 100%;
    align-items: center;
}
.waiter-table-options > *{
    aspect-ratio: 1;
    max-width: 100%;
}
.waiter-table-options > * button{
    max-width: 100%;
    height: 100%;
}
.waiter-dishopts-wrapper{
    height:100%;
}
.waiter-dishopts-main{
    padding: 15px;
    padding-top: 60px;
    padding-bottom: 80px;
    height: 100%;
}
.waiter-fixed-title{
    top: var(--topbar-height);
    white-space: nowrap;
    border:1px solid;
    background-color: white;
    border-top: none;
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
    font-size: 1.5em;
    font-weight: bold;
    z-index: 2;
}
.waiter-dishopts-button{
    display: flex;
    justify-content: center;
}
.waiter-dishopts-button > button{
    font-size: 1.5em;
    padding: 12px;
    margin: 8px;
    width: max-content;
}
.waiter-fixed-title, .waiter-fixed-bottom{
    padding: 12px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
    border-radius: 12px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}
.waiter-fixed-bottom{
    bottom: 0;

    background-color: white;
    border: 1px solid;
    border-bottom: none;
    border-bottom-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;

    display: flex;
    gap: 12px;
}
.waiter-fixed-bottom > button {
    font-size: 1.5em;
    padding: 12px;
    width: max-content;
}
.waiter-dishopts-count{
    display: flex;
    align-items: center;
    gap:10px;
}
.waiter-dishopts-count > button{
    padding: 12px;
    width: 100%;
    aspect-ratio: 1;
}
.waiter-br-button{
    position: fixed;
    right: 25px;
    bottom: 25px;
    width: 75px;
    height: 75px;
    border:1px solid;

    background-color: white;
    background-size: 50%;
    background-position: calc(50% + 2px) center;
    background-repeat: no-repeat;

    border-radius: 25px;
    box-shadow: 0 0 10px 5px rgba(0,0,0,0.2);
}
.waiter-br-button.send{
    background-image: url("/images/send.png");
}
.waiter-br-button.delete{
    background-image: url("/delete.svg");
}
.waiter-br-button.confirm{
    background-image: url("/confirm.svg");
}


.worker-login{
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.worker-login > div{
    display: flex;
    gap: 10px;
    align-items: center;
}
.waiter-summary-wrapper{
    max-height: 100%;
    overflow-y: auto;
    padding: 15px;
}
.waiter-summary-main{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    justify-items: start;
    height: auto;
    gap:15px;
    min-height: 100%;
    padding: 0 40px;
    padding-top: 50px;
    padding-bottom: 90px;
}
.waiter-summary-order{
    padding: 10px;
}
.waiter-summary-total-wrapper{
    position: fixed;
    bottom: 0;

    width: 100%;
    background-color: white;
    height: 20vh;
    border-top:1px solid;
}